@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  margin-top: 100px;
}

body:hover {
	cursor: default;;
}

h1, h2, h3 {
	font-family: 'Open Sans';
}

h2 {
  font-size: 3em;
  margin-bottom: 80px;
}

h3 {
  font-size: 2em;
  padding-bottom: 10px;
}

#about, #projects {
  background: rgba(248,248,248,1);
}

.navbar-brand {
  font-family: 'Open Sans';
}

.jumbotron {
  background: transparent;
}

.blue-text {
  color: #39C;
}

.skill span {
  font-size: 1.6em;
}

.img-skill {
  max-width: 100px;
}

.project p {
  padding: 10px 0;
}

.img-project {
  margin: 40px auto;
}

.contact-link {
  font-size: 40px;
  padding: 12px;
}

.copyright {
  margin-top: 40px;
}
