/* ---------- Imported Fonts ---------- */

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/* ---------- Primary Structure ---------- */

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
}

header {
	padding: 40px;
	width: 100%;
}

main {
	margin: 0 auto;
	min-height: 800px;
	padding: 40px;
	max-width: 800px;
}

footer {
	background-color: #EEE;
	box-shadow: 0 0 5px #CCC;
	padding: 40px;
  text-align: center;
	width: 100%;
}

/* ---------- Navigation ---------- */

nav {
	background-color: #EEE;
	box-shadow: 0 0 5px #CCC;
	width: 100%;
}

nav ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 20px 0;
}

nav ul li a {
	padding: 20px;
}

nav.fixed {
	top: 0px;
	position: fixed;
}

main.fixed {
	padding-top: 100px;
}

/* ---------- Secondary Structure ---------- */

section {
	padding: 40px;
}

section.center {
	text-align: center;
}

article {
	margin: 0 auto;
	padding: 40px;
	width: 600px;
}

article.practice {
	box-shadow: 0 0 2px #CCC;
	margin: 40px auto;
}

article.practice ul {
	padding: 0 20px;
}

/* ---------- Typography and Images ---------- */

h1, h2 {
	text-align: center;
}

h2 {
	margin-bottom: 20px;
}

p {
	font-size: 1.2em;
	padding: 10px;
}

img.skill {
	width: 120px;
}

/* ---------- Forms ---------- */

#email-form {
	display: none;
	padding: 20px;
}

/* ---------- Lists ---------- */

ul.connect, ul.projects {
	padding: 20px;
}

ul.connect li, ul.projects li {
	display: inline-block;
}

ul.connect li a, ul.projects li a {
	padding: 20px;
}

ul.connect li a:hover, ul.projects li a:hover {
	cursor: pointer;
}
