{
  "extends": "airbnb",
  "globals": {
    "document": "true",
    "window": "true"
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"]
  }
}
