{
  "extends": "airbnb",
  "globals": {
    "document": "true",
    "window": "true",
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
  ],
  "rules": {
    "semi": ["error", "never"],
  }
}
