.container {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 2px #999;
  opacity: 0.95;
  padding: 5% 0;
  margin: 0 auto;
  width: 100%;

  @media all and (min-width: 600px) {
    width: 80%;
  }

}
