@import './animations.scss';

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -5;
}

.content {
  margin-bottom: 10vh;
  text-align: center;
}

.title {
  animation: contentDownIn 1s forwards;
  color: rgba(255, 255, 255, 1);
  font-family: 'Oswald';
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
}

.titleHidden {
  @extend .title;
  animation: contentDownOut 1s forwards;
}
