.list {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}

.item {
  display: inline-block;
}

.link {
  background: none;
  font-family: 'Open Sans';
  font-weight: 400;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
  }

}

.divider {
  font-family: 'Open Sans';
  font-weight: 400;
}
