.window {
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 0;
}

.window::after {
  content: '';
  background-color: rgba(255,255,255,0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.window1 {
  @extend .window;
  animation: dropdown 1s ease-out 0.25s forwards;
  background-image: url("/img/wallpaper.jpg");
  min-height: 40vh;
}

@keyframes dropdown {

  0% {
    height: 0;
  }

  100% {
    height: auto;
  }

}
