/* app animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* spinner animations */

@keyframes spinnerFade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes spinnerSpin {
  0% {
    transform: rotate(0deg) scale(1)
  }
  50% {
    transform: rotate(135deg) scale(1.2)
  }
  100% {
    transform: rotate(360deg) scale(1)
  }
}

/* header animations */

@keyframes headerDown {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes headerUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -100px;
  }
}

/* content animations */

@keyframes contentDownIn {
  0% {
    opacity: 0;
    transform: translate(0, -4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes contentDownOut {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -4rem);
  }
}

@keyframes contentUpIn {
  0% {
    opacity: 0;
    transform: translate(0, 4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes contentUpOut {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 4rem);
  }
}

@keyframes contentZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentZoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
