.container {
  background: rgba(255, 255, 255, 1);
  padding: 4rem 0;
}

.title {
  color: rgba(20, 20, 20, 1);
  font-family: 'Oswald';
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-align: center;
}
