@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../public/font/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: normal;
  src: url("../public/font/Ubuntu-Italic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  src: url("../public/font/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: bold;
  src: url("../public/font/Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../public/font/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: url("../public/font/Ubuntu-LightItalic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../public/font/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: url("../public/font/Ubuntu-MediumItalic.ttf");
}

:root {
  --color-error: rgb(245, 45, 45);
  --color-theme: rgb(0, 195, 165);
  --font-family: "Ubuntu", sans-serif;
  --footer-height: 60px;
  --header-height: 60px;
  --transition: 0.25s;

  --background-primary: rgb(17, 17, 17);
  --background-primary-transparent: rgba(17, 17, 17, 0.9);
  --background-secondary: rgb(22, 22, 22);
  --background-secondary-transparent: rgba(22, 22, 22, 0.9);
  --box-shadow: 0 0 4px rgb(27, 27, 27);
  --box-shadow-color: rgb(27, 27, 27);
  --color-text: rgb(245, 245, 245);
}

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: default;
}

body {
  font-family: var(--font-family);
  font-weight: 300;
  overflow-x: hidden;
}

main {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

p,
li {
  line-height: 1.75;
}

a,
a:active {
  color: var(--color-theme);
  font-weight: 400;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  opacity: 0.75;
}

button {
  background: var(--color-theme);
  border: none;
  border-radius: 1em;
  color: var(--background-primary);
  font-family: var(--font-family);
  font-size: 1em;
  outline: none;
  transition: var(--transition);
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}
