/* container */

.container {
  background: var(--background-primary-transparent);
  width: 100vw;
}

/* banner */

.banner {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  min-height: 100vh;
  position: sticky;
  text-align: center;
}

@media (max-width: 850px) {
  .banner {
    font-size: 1em;
  }
}

.banner div {
  margin-bottom: 2%;
}

.banner h1 {
  font-size: 1.8em;
  padding: 0.25em 0;
}

.banner p {
  padding: 0.5em 0;
}

.banner p > i {
  color: var(--color-theme);
}
