/* header */

.header {
  align-items: center;
  background: var(--background-primary);
  box-shadow: var(--box-shadow);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.header div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: inherit;
  margin: 0 1em;
}

@media (max-width: 850px) {
  .header div {
    margin: 0 0.5em;
  }
}

/* title */

.title div {
  color: var(--color-text);
  font-size: 22px;
}

@media (max-width: 850px) {
  .title div {
    font-size: 16px;
  }
}

/* menu */

.menu ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none inside none;
}

.menu li {
  margin: 0.75em;
}

@media (max-width: 850px) {
  .menu li {
    font-size: 14px;
    margin: 0.5em;
  }
}
