.container {
  display: flex;
  justify-content: center;
}

.content {
  padding: 5%;
  width: 800px;

  a.back {
    display: block;
    margin-bottom: 40px;
  }

  h1.title {
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0;
  }

}

.item {
  display: block;
  margin: 40px 0;

  h2.title {
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0;
  }

  h3.date {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin: 5px 0;
  }

}
