.container {
  padding: 10%;

  h1 {
    font-weight: 400;
    margin: 10px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin: 10px 0;
  }

  div {
    margin: 40px 0;
  }

}
