@import '../assets/scss/container-2.scss';

.summary {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

.summaryImage {
  box-shadow: 0 0 2px rgba(100, 100, 100, 1);
  width: 14rem;
}

.summaryText {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 2rem;

  p {
    margin: 1.5em 0;
  }

  strong {
    font-style: italic;
    font-weight: 400;
  }

}

.skills {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em 0;

  h3 {
    font-family: 'Oswald';
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem;
  }

}
