@import '../assets/scss/animations.scss';
@import '../assets/scss/navigation.scss';

.list {
  animation: contentUpIn 1s forwards;
}

.listHidden {
  @extend .list;
  animation: contentUpOut 1s forwards;
}

.link {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  padding: 1rem;

  &:hover {
    border-bottom: 2px solid #FFF;
    color: #FFF;
  }

}

.divider {
  color: #FFF;
  font-size: 1.4rem;
  padding: 1rem;
}
