@import '../styles/animations.scss';

.container {
  align-items: center;
  background: #FFF;
  display: flex;
  justify-content: center;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.spinner {
  animation: spinnerFade 1s linear infinite;
  border-radius: 50%;
  color: #666;
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px;

  &:after, &:before {
    border-radius: 50%;
    content: '';
    display: block;
    height: 100px;
    width: 100px;
  }

  &:after {
    animation: spinnerSpin 1s linear infinite;
    border: 2px solid transparent;
    border-top-color: #666;
    border-bottom-color: #666;
    left: -2px;
    position: absolute;
    top: -2px;
  }

}
