@import '../styles/animations.scss';
@import '../styles/container.scss';

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 2em 0;
}

.profile {
  animation: contentRightIn 1s forwards;
  box-shadow: 0 0 2px rgba(100, 100, 100, 1);
  width: 20em;
}

.profileHidden {
  @extend .profile;
  animation: contentRightOut 1s forwards;
}

.text {
  animation: contentLeftIn 1s forwards;
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 2em;
  padding: 2em;
  text-align: left;

  p {
    padding: 1em 0;
  }

}

.textHidden {
  @extend .text;
  animation: contentLeftOut 1s forwards;
}
