.container {
  bottom: 0;
  height: 20vh;
  left: 0;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.arrow {
  background: none;
  bottom: 20%;
  color: #666;
  font-family: 'Abel';
  font-size: 12em;
  opacity: 0.8;
  outline: none;
  position: absolute;
  text-align: center;
  transform: rotate(180deg);
  transition: 0.25s;
  width: 100%;

  &:hover {
    color: #333;
    cursor: pointer;
    opacity: 1;
  }

}
