@import '../styles/container.scss';
@import '../styles/title.scss';

.container {
  text-align: center;
}

.links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
  text-align: center;
}

.email {
  color: #666;
  font-size: 1.4em;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #000;
  }

}
