.cursor {
  height: 100%;
  position: absolute;
  width: 100%;

  div {
    border: 2px solid #39C;
    border-radius: 50%;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0.1;
    position: absolute;
    width: 20px;
    z-index: -1;
  }

}
