.footer {
  background: #F9F9F9;
  box-shadow: 0 0 2px #CCC;
  opacity: 0.99;
  padding: 40px 0;
  text-align: center;
}

.links {
  padding: 20px 0;
  text-align: center;
}

.copyright {
  padding: 20px 0;
}
