.container {
  align-items: center;
  animation: slideDown 0.25s ease-out forwards;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 1px #CCC;
  display: flex;
  height: 8vh;
  justify-content: center;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@keyframes slideDown {

  0% {
    margin-top: -100px;
  }

  100% {
    margin-top: 0;
  }

}

.hidden {
  @extend .container;
  animation: slideUp 0.25s ease-out forwards;
  margin-top: -100px;
}

@keyframes slideUp {

  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -100px;
  }

}

.title {
  display: inline-block;
  font-family: 'Oswald';
  font-size: 2em;
  font-weight: 300;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: rgba(50, 50, 50, 1);
    cursor: pointer;
  }

}
