.container {
  align-items: center;
  background: #FFF;
  box-shadow: 0 0 2px #CCC;
  display: flex;
  justify-content: center;
  opacity: 0.96;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
