.container {
  align-items: center;
  background: #F9F9F9;
  box-shadow: 0 0 1px #CCC;
  display: flex;
  justify-content: center;
  opacity: 0.98;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
