@import '../styles/animations.scss';
@import '../styles/navigation.scss';

.list {
  animation: contentLeftIn 1s forwards;
}

.listHidden {
  @extend .list;
  animation: contentLeftOut 1s forwards;
}

.link {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.active {
  @extend .link;
  border-bottom: 2px solid rgba(50, 50, 50, 1);
  color: rgba(0, 0, 0, 1);
}

.divider {
  font-size: 1.2rem;
  padding: 0.5rem;
}
