.list {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}

.item {
  color: #FFF;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-weight: 400;
}

.link {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: #FFF;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.5s;

  &:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    cursor: pointer;
  }

}
