@import '../styles/navigation.scss';

.link {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 1);
  font-size: 1.5em;

  &:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
  }

}

.divider {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5em;
}
