.link {
  color: #666;
  font-size: 2em;
  padding: 20px 12px;
  position: relative;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #39C;
    cursor: pointer;
    transform: scale(1.2);
  }

}
