.link {
  color: #666;
  font-size: 1.2em;
  padding: 10px 12px;
  position: relative;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: rgba(50, 50, 50, 1);
    cursor: pointer;
  }

}
