@import '../styles/animations.scss';

.container {
  animation: zoomIn 0.25s ease-in 0.25s forwards;
  margin-bottom: 20%;
  text-align: center;
  width: 100vw;

  @media only screen and (min-width: 560px) {
    padding: 4rem 8rem;
    width: auto;
  }

}

.content {
  display: inline-block;
}

.title {
  color: #333;
  font-family: 'Oswald';
  font-size: 6em;
  font-weight: 300;
  text-align: center;
  transition: 0.25s;
}

.subtitle {
  color: #666;
  font-family: 'Oswald';
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 5%;
  text-align: center;
  transition: 0.25s;
}
