.container {
  margin-bottom: 25%;
}

.content {
  display: inline-block;
}

.title {
  color: #333;
  font-family: 'Bilbo';
  font-size: 6em;
  font-weight: 300;
  padding-bottom: 5%;
  text-align: center;
  transition: 0.25s;
}
