.list {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}

.item {
  display: inline-block;
}

.button {
  border-bottom: 1px solid rgba(50, 50, 50, 0);
  color: #666;
  font-family: 'Open Sans';
  font-size: 1.4em;
  font-weight: 600;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.5s;

  &:hover {
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    color: #333;
    cursor: pointer;
  }

}
