@import '../styles/animations.scss';

.container {
  position: relative;
  width: 100%;
}

.title {
  animation: contentDownIn 1s forwards;
  color: #333;
  font-family: 'Oswald';
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 2rem;
  text-align: center;
}

.titleHidden {
  @extend .title;
  animation: contentDownOut 1s forwards;
}

.index {
  animation: contentDownIn 1s forwards;
  text-align: center;
}

.indexHidden {
  @extend .index;
  animation: contentDownOut 1s forwards;
}

.indexItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #666;
  font-family: 'Open Sans';
  font-size: 1.2em;
  margin: 0.5rem;
  padding: 0.5rem;
  position: relative;
  transition: 0.25s;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    color: #333;
    cursor: pointer;
    transform: scale(1.2);
  }

}

.activeIndexItem {
  @extend .indexItem;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  color: #333;
  transform: scale(1.2);
}

.slideshow {
  overflow: hidden;
  padding: 2rem;
}

.projects {
  animation: contentUpIn 1s forwards;
  padding: 1em;  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 900px;
}

.projectsHidden {
  @extend .projects;
  animation: contentUpOut 1s forwards;
}

.arrowContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 2.5%;
  position: absolute;
  width: 5%;
  z-index: 10;
}

.leftArrowContainer {
  @extend .arrowContainer;
  animation: contentRightIn 1s forwards;
  left: 0;
  top: 0;
}

.leftArrowContainerHidden {
  @extend .leftArrowContainer;
  animation: contentRightOut 1s forwards;
}

.rightArrowContainer {
  @extend .arrowContainer;
  animation: contentLeftIn 1s forwards;
  right: 0;
  top: 0;
}

.rightArrowContainerHidden {
  @extend .rightArrowContainer;
  animation: contentLeftOut 1s forwards;
}

.arrow {
  color: #666;
  font-family: 'Oswald';
  font-size: 8em;
  font-weight: 300;
  opacity: 0.8;
  transition: 0.25s;

  &:hover {
    color: #333;
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
  }

}

.leftArrow {
  @extend .arrow;
}

.rightArrow {
  @extend .arrow;
}
