.list {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}

.item {
  display: inline-block;
}

.button {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #000;
  font-family: 'Open Sans';
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.5s;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    color: #333;
    cursor: pointer;
  }

}

.active {
  @extend .button;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  color: #333;
}

.divider {
  padding: 0.5em;
}
