.list {
  list-style: none;
  margin: 0 auto;
}

.item {
  display: inline-block;
}

.button {
  color: #666;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #000;
    cursor: pointer;
  }

}

.active {
  color: #000;
}
