.list {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}

.item {
  display: inline-block;
}

.button {
  border-bottom: 1px solid rgba(50, 150, 200, 0);
  color: #333;
  font-size: 1.4em;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    border-bottom: 1px solid rgba(50, 150, 200, 1);
    color: #39C;
    cursor: pointer;
  }

}

.active {
  @extend .button;
  border-bottom: 1px solid #39C;
  color: #39C;
}
