.container {
  position: relative;
  width: 100%;
}

.title {
  font-family: 'Oswald';
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.image {
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.1);
  display: inline-block;
  width: 80%;
}

.text {
  font-size: 1.1em;
  font-weight: 300;
  padding: 2rem;
}

.links {
  padding: 2rem;
  text-align: center;
}

.slideContainer {
  text-align: center;
}

.slideContent {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 500px;
  text-align: center;
  width: 100%;
}

.summary {
  font-size: 1.2em;
  line-height: 1.4;
  padding: 2% 0;
  text-align: left;
}

.slideLeft {
  @extend .slideContainer;
  animation: slideLeft 0.5s ease-in;
}

.slideRight {
  @extend .slideContainer;
  animation: slideRight 0.5s ease-in;
}

@keyframes slideLeft {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes slideRight {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
